<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js</title>
  <style>
    .box { padding: 5px 10px; }
    .success { border: 2px solid green; }
    .error { border: 2px solid red; }
  </style>
</head>
<body>
  <div id="app">
    <!-- .prevent : Désactive le clic -->
    <a href="http://www.google.fr" @click.prevent="demo">Démo</a>

    <!-- .capture : Capturer les événements dans les éléments enfants -->
    <a href="http://www.google.fr" @click.capture="demo">Démo</a>

    <!-- .self : Si l'événement est bien lancé sur cet élément (pas un de ses enfants) -->
    <a href="http://www.google.fr" @click.self="demo">Démo</a>

    <!-- .stop : Annule le "bubbling" des événements -->
    <p @click="demo">
      <a href="http://www.google.fr" @click.prevent.stop="demo2">Démo 2</a>
    </p>

    <!-- .lazy : Lancé onChange -->
    <input type="text" v-model="message"> {{ message }} <br>

    <!-- Impose un format de type integer -->
    <input type="text" v-model.number="number"> {{ number }} <br>

    <!-- Supprime les espaces de début / fin -->
    <input type="text" v-model="trim"> ==={{ trim }}=== <br>

    <!-- Au keyUp + à l'écoute d'un keyCode -->
    <input type="text" @keyup.space="demo"> <br>

    <!-- Directives custom -->
    <input type="text" v-salut="message">
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
  <script src="js/4-directives.js"></script>
</body>
</html>