<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js</title>
  <style>
    .box { padding: 5px 10px; }
    .success { border: 2px solid green; }
    .error { border: 2px solid red; }
  </style>
</head>
<body>
  <div id="app">
    <!-- Interpolation de variables -->
    <a :href="link + '/test'" :title="message">{{ message }}</a>

    <!-- Boucle -->
    <ul>
      <li v-for="person in people">{{ person }}</li>
    </ul>

    <!-- Condition -->
    <div class="box success" v-if="success">
      <!-- Interaction -->
      <button @click="close">Voir le message d'erreur</button>
      <p>Condition if</p>
    </div>
    <div class="box error" v-else>
      <p>Condition else</p>
    </div>

    <!-- Condition ternaire -->
    <div class="box" :class="success ? 'success' : 'error'">
      Condition ternaire
    </div>

    <!-- Condition via un objet -->
    <div class="box" :style="style()">
      Condition via une méthode retournant un objet
    </div>

    <!-- v-model : va mettre à jour la variable en temps réel -->
    <div>
      <input type="text" v-model="message"><br>
      <input type="checkbox" v-model="success"> If / Else
    </div>

    <!-- Update les données via true/false-value -->
    <input type="checkbox" v-model="cls" :true-value="'success'" :false-value="'error'"> true/false-value
    <div class="box" :class="cls"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
  <script src="js/app.js"></script>
</body>
</html>